language: node_js
node_js:
  - "node"
notifications:
  email: false
cache:
  npm: true
  directories:
      - ~/.cache
install:
  - npm ci
  - npm run build
before script:
  -npm start 
script:
  -$(npm bin)/cypress
